<h2>Exporting your AniList to MAL Format...</h1>
<p>This may take a while. Since MAL uses a different format and has different ID's for anime,
  the system needs to search for the corresponding shows on MyAnimeList.<br>As a result, a few shows
  may not export correctly, so please know that this export feature may not be 100% reliable.</p>
