// Place all the styles related to the anisyncs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

iframe {
  min-width: 650px;
  height: 400px;
}

body {
  font-family: Roboto;
  font-weight: normal;
}
